* {
  box-sizing : border-box ;
  margin: 0px;
  padding: 0px;
}

body {
  background: #471C0B url("../img/background.jpg")  no-repeat;
  background-size: cover;
  height: 100%;
}

header {
  background: url("../img/header.png");
  background-size: cover;
  box-shadow: 0px 5px 20px 2px #000000, inset 0px 0px 10px 2px #000000;
  padding: 25px;
  text-align: center;
}

header img {
  width: 100px;
}

.corp {
  width: 95%;
  margin: 25px auto;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px hsl(0, 0%, 5%), inset 0px 0px 10px 4px hsl(0, 0%, 5%);
}

.profil {
  margin: 20px 20px 30px;
  padding: 15px;
  background: url("../img/header.png");
  border: 1px solid hsl(0, 0%, 0%);
  border-radius: 5px;
  text-align: center;
  box-shadow: inset 0px 0px 5px 1px hsl(0, 0%, 5%), 0px 5px 1px 0px hsl(0, 0%, 5%);
}

.profil ul li {
  display: inline-block;
  margin: 10px 10px;
}

.profil ul li a, .age {
  padding: 5px;
  border: 1px solid hsla(0, 0%, 70%, 1);
  border-radius: 5px;
  font: 15px 'Inconsolata', monospace;
  color: hsl(0, 0%, 0%);
  text-decoration: none;
  transition: .5s;
}

.profil ul li a:hover, .age:hover {
  border: 1px solid hsl(0, 0%, 0%);
  box-shadow: 0px 5px 1px 0px hsl(0, 0%, 5%);
  transition: .5s;
}

.profil ul li a:active {
  box-shadow: inset 0px 0px 5px 1px hsl(0, 0%, 5%);
}

.contenu {
  background: url("../img/paper.png");
  margin: 0 50px 50px;
  padding: 20px;
  box-shadow: 0px 0px 1px 1px hsl(0, 0%, 50%);
}

.contenu section h2 {
  margin: 0px auto 30px;
  font: 30px 'Itim', cursive;
  color: hsl(0, 97%, 43%);
  text-align: center;
  text-decoration: underline;
}

.contenu section table {
  border: 2px solid hsl(0, 0%, 25%);
  border-spacing: 0px;
  margin: 20px auto;
  padding: 0px;
  width: 70%;
}

.contenu section table td {
  border: 2px solid hsl(0, 0%, 25%);
  padding: 15px;
}

.contenu section table td, .contenu section table a, .contenu section li {
  font: 20px 'Itim', cursive;
  text-decoration: none;
  letter-spacing: 3px;
  color: hsl(234, 87%, 22%);
}

.centrer {
  text-align: center;
}

.loisir div {
  text-align: center;
}

.contenu li {
  list-style-type: none;
}

#crayon {
  transform: rotate(90deg);
  width: 400px;
  position: fixed;
  top: 350px;
  right: -150px;
}

.contenu a:hover {
  color: hsl(120, 91%, 35%);
  text-decoration: none;
}

/* test */

#truc {
  position: fixed;
  top: 15%;
  width: 100%;
}

#truc section {
  background: hsl(0, 0%, 100%);
  width: 250px;
  margin: auto;
  padding: 20px;
  border: 1px solid hsl(0, 0%, 50%);
  border-radius: 10px;
  box-shadow: 0px 0px 70px 2px hsl(0, 0%, 0%), inset 0px 0px 10px 2px hsl(0, 0%, 83%);
  text-align: center;
}

#truc img {
  width: 150px;
  border-radius: 100%;
  box-shadow: 0px 0px 10px 3px hsl(0, 0%, 83%);
  filter: saturate(0%);
  transition: .8s;
}

#truc img:hover {
  box-shadow: 0px 0px 10px 5px hsl(0, 0%, 50%);
}

#truc h6 {
  margin-top: 20px;
  font: 25px 'Inconsolata', monospace;
  font-weight: bold;
}

#truc p {
  color: hsl(0, 0%, 50%);
  font: 20px 'Inconsolata', monospace;
}

#connect {
  display: none;
  padding: 20px;
}

#truc input {
  margin: 0 auto 10px;
  border: 1px solid hsl(0, 0%, 50%);
  border-radius: 10px;
  box-shadow: inset 0px 0px 1px 1px hsl(0, 0%, 83%);
  text-align: center;
}

#truc input:focus {
  outline: none;
}

#connect button {
  display: block;
  margin: auto;
  padding: 2px 10px;
  background: hsl(0, 0%, 83%);
  border-radius: 12px;
  border: 1px solid hsl(0, 0%, 83%);
  box-shadow: inset 0px -3px 10px 0px hsl(0, 0%, 0%);
}

#truc button:active {
  box-shadow: inset 0px 3px 10px 0px hsl(0, 0%, 0%);
}

#truc button:focus {
  outline: none;
}
